<span class="badge badge-info ml-3">Subscriptions</span>
<div class="shadow-lg p-4 mb-4 bg-white ml-3 mr-3">
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Number</th>
            <th>Name of subscription</th>
            <th>
                <div *ngIf="id > 0">Status</div>
            </th>
            <th>Cost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of Subscriptions()">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>
                <div *ngIf="id > 0">
                    <div *ngIf="product.status"><b>ON</b></div>
                    <div *ngIf="!product.status"><b>OFF</b></div>
                </div>
            </td>
            <td>{{product.cost}}</td>
        </tr>
        </tbody>
    </table>
</div>

<button class="btn btn-success btn-sm ml-3 my-1" type="button" routerLink="/admin">Return to Admin Account</button>
