<!--NavBar-->
<nav class="jnavbar navbar-expand-sm bg-danger navbar-dark d-flex">
    <a class="navbar-brand mr-auto" href="">Simple Charging</a>
    <app-register></app-register>
    <button class="btn btn-success btn-sm mr-5 my-1" type="button" data-toggle="modal" data-target="#registerModal">
        Sign In
    </button>
</nav>



<app-view-all-subscriptions></app-view-all-subscriptions>

<!-- Sign In -->
<div class="modal" id="registerModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Register Header -->
            <div class="modal-header">
                <h4 class="modal-title">Sign In</h4>
                <button type="button" class="close" id="close" data-dismiss="modal">&times;</button>
            </div>


            <!-- Register body -->
            <div class="modal-body">
                <p><input [(ngModel)]="login" class="form-control" type="text" name="login" placeholder="Login"></p>
                <p><input [(ngModel)]="passwd" class="form-control" type="password" name="password"
                          placeholder="Password"></p>
                <div *ngIf="emptyField">
                    <p class="text-danger small font-weight-bold">Enter the login and password</p>
                </div>
                <div *ngIf="failedData">
                    <p class="text-danger small font-weight-bold" data-dismiss="modal">Invalid login or password</p>

                </div>
            </div>


            <!-- Register footer -->
            <div class="modal-footer">
                <button type="submit" class="btn btn-success btn-sm ml-1" (click)="auth()">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>


